body {
    background-image: url(../images/ignasi_pattern_s.png);
    background-repeat: repeat;
}
.navbar-brand {
    background: #5dbcd2; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    } 

.display-12 { 
    color: #5dbcd2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    
}

.btn-primary {
    color: white;
    background: #5dbcd2;
}

.title {
    width: 100px;
    height: 50px;
    line-height: 50px;
    background-color: white; 
    text-align: center;
    font-size: 15.5px;
    
}
.content {
    min-height: calc(100vh - 70px);
  }
  
 