body {
    background-image: url(../images/ignasi_pattern_s.png);
    background-repeat: repeat;
}
.navbar-brand {
    background: #5dbcd2; 
    font-style: georgia bold;
} 

.navbar-light .navbar-brand {
    color: white;
}



.title {
    width: 100px;
    height: 50px;
    line-height: 50px;
    background: white; 
    text-align: center;
    font-size: 15.5px;
    
}